<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>

<script src="{{ STATIC_URL }}js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
