<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="{{ STATIC_URL }}apple-touch-icon.png">

<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
<style>
    body {
        padding-top: 50px;
        padding-bottom: 20px;
    }
</style>
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">

<script src="{{ STATIC_URL }}js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
