{% extends 'default.html' %}

{% block body %}
    {% include 'blocks/nav.html' %}
    <div class="jumbotron">
        <div class="container">
            <h1>Agile</h1>
            <p>Unbounded Agile empowers you with everything you need to
                implement and maintain an Agile environment across your entire
                company.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn
                more &raquo;</a></p>
        </div>
    </div>


{% endblock %}
